html {
	height: 100%;
}

body {
	margin: 0%;
	padding: 0%;

	font-family: "Optimistic Text", "-apple-system", ui-sans-serif, system-ui,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji", "BlinkMacSystemFont", "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: linear-gradient(
		200deg,
		rgba(0, 0, 0, 0.6) 20%,
		rgba(61, 61, 61, 0.6) 100%
	);
	background-repeat: no-repeat;
}

.root {
	margin: 0;
	padding: 0%;
}

$nav-height-px: 40px;
$nav-height-perc: 3%;

nav {
	height: $nav-height-perc;
	min-height: $nav-height-px;
	background-color: #342e28;
	position: fixed;
	color: rgb(255, 255, 255);
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	margin: 0;
	padding: 0;

	* {
		color: white;
		text-decoration: none;
	}

	a {
		color: white;
		line-height: 1.5;
		display: inline-block;
		vertical-align: middle;

		&:hover {
			background-color: #575757;
		}
	}

	img {
		width: 5%;
	}
}

main {
	padding: 40px 60px 60px;

	&>* {
		padding: 0% 0% 0% 0%;
		margin: 0%;
	}

	h1 {
		font-size: 5vh;
		margin-top: 0;
		margin-bottom: 64;
		max-width: 320;
	}

	p {
		font-size: 2vh;
		margin-bottom: 48;
	}

	code {
		color: "#8A6534";
		padding: 4;
		background-color: "#FFF4DB";
		font-size: "1.25rem";
		border-radius: 4;
		font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
	}
}

.face {
	display: flex;
	justify-content: center;
	text-align: center;

	img.logo {
		width: 7vh;
		border: 1px solid #575757;
	}
}

.content {
	border: 3px solid rgb(77, 40, 10);
}

.nowrap {
	white-space: nowrap;
}

.nopad {
	margin: 0;
	padding: 0%;
}

.spacer {
	&.px15 {
		padding-top: 15px;
	}

	&.header {
		padding-top: max($nav-height-perc, $nav-height-px/3);
	}
}

.rounded-link {
	background-color: white;
	color: rgb(64, 64, 0);
	border: white solid 2px;
	border-radius: 2vh;

	text-decoration: none;
	font-size: medium;
	font-family: inherit;

	&.table-link {
		padding: 2%;
		margin: 0% 1% 0% 1%;
	}

	&.normal-link {
		border-width: 5px;
		margin-top: 1%;
	}

	&:hover {
		background-color: rgb(226, 226, 226);
		border-color: rgb(226, 226, 226);
		cursor: pointer;
	}
}

// Partly hides the screen
.blackbox {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000AA;
    width: 100vw;
    height: 100vh;
}

// Flex Box that automatically shrinks with the screen
.adjustable-flex {
	display: flex;
}

@media (prefers-reduced-motion: no-preference) {

}

@media (prefers-color-scheme: dark) {
	body {
		background: linear-gradient(
			200deg,
			rgba(43, 22, 6, 0.6) 20%,
			rgba(22, 14, 8, 0.6) 100%
		);
		background-color: black;
		background-repeat: no-repeat;
	}

	* {
		color: white;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background: linear-gradient(
			200deg,
			rgba(255, 216, 164, 0.6) 20%,
			rgba(255, 220, 220, 0.6) 100%
		);
		background-color: bisque;
		background-repeat: no-repeat;
	}

	* {
		color: black;
	}
}

@media (max-width: 600px) {
	.adjustable-flex {
		flex-direction: column;
	}
}

@media (min-width: 601px) {
	.adjustable-flex {
		flex-direction: row;
	}
}
